<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Registra</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
			crossorigin="anonymous"
		/>

		<style>
			* {
				font-family: "Nunito", sans-serif;
			}
			.title {
				background-color: rgb(89, 44, 131);
				color: gold;
			}
			.form-group {
				margin-top: 10px;
			}
		</style>
	</head>
	<body>
		<div class="title">
			<div class="container">
				<h1>Registro</h1>
				<small>Completa el formulario</small>
			</div>
		</div>
		<div class="container mb-0">
			<form action="/procesa" method="POST">
				<div class="form-group">
					<label class="form-label" for="">Código</label>
					<input class="form-control" name="codigo" type="text" />
				</div>
				<div class="form-group">
					<label class="form-label" for="">Nombre</label>
					<input class="form-control" name="nombre" type="text" />
				</div>
				<div class="form-group">
					<label class="form-label" for="">Carrera</label>
					<input class="form-control" name="carrera" type="text" />
				</div>
				<input
					class="btn btn-primary"
					type="submit"
					value="Registrar"
				/>
			</form>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
			integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
			crossorigin="anonymous"
		></script>
	</body>
</html>
