<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Registra</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static',filename='styles/register.css') }}"
		/>
	</head>
	<body>
		<script src="{{ url_for('static',filename='js/register.js') }}"></script>
		<div class="title">
			<div class="container">
				<h1>Centro de Salud Eric</h1>
				<small>Completa el formulario</small>
			</div>
		</div>
		<div class="row">
			<div class="container mb-0 col-md-6">
				<h2>Registra un médico</h2>
				<form
					id="registrationForm"
					action="/processRegistrationForm"
					method="POST"
					onsubmit="return validateRegistrationForm()"
				>
					<div class="form-group">
						<label for="name"> LABELTEXT-name </label>
						<input
							type=""
							name="name-input"
							id="name"
							class="form-control"
						/>
					</div>
					<div class="form-group">
						<label for="lastname"> LABELTEXT-lastname </label>
						<input
							type=""
							name="lastname-input"
							id="lastname"
							class="form-control"
						/>
					</div>
					<div class="input-group mb-3">
						<select class="custom-select" id="sex">
							<option selected>Elige...</option>
							<option value="1">Hombre</option>
							<option value="2">Mujer</option>
							<option value="3">Ggg</option>
						</select>
						<div class="input-group-append">
							<label class="input-group-text" for="sex"
								>Sexo</label
							>
						</div>
					</div>
					<div class="form-group">
						<label for="isMedic"> LABELTEXT-isMedic </label>
						<input
							type=""
							name="isMedic-input"
							id="isMedic"
							class="form-control"
						/>
					</div>
					<div class="form-group">
						<label for="email"> LABELTEXT-email </label>
						<input
							type=""
							name="email-input"
							id="email"
							class="form-control"
						/>
					</div>
					<div class="form-group">
						<label for="password"> LABELTEXT-password </label>
						<input
							type="password"
							name="password-input"
							id="password"
							class="form-control"
						/>
					</div>
					<div class="form-group">
						<label for="confirmPassword">
							LABELTEXT-confirmPassword
						</label>
						<input
							type="password"
							name="confirmPassword-input"
							id="confirmPassword"
							class="form-control"
						/>
					</div>

					<button type="submit" class="btn btn-primary">
						Registrar
					</button>
				</form>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
			integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
			crossorigin="anonymous"
		></script>
	</body>
</html>
